<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <img class="image" mat-card-image src="./assets/gif/HoUt.gif" alt="welcom gif"> 
    </mat-card-header>
    
      <mat-card-subtitle class="subtitle">
        we glad you joined us!
      </mat-card-subtitle>
   
   
  